<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Way Connect</title>
  </head>
  <body>
    <header>
      <h1>Way Connect</h1>
    </header>
    <!-- <main class="main-content"> -->
    <section class="hero">
      <h2>
        Way Connect est votre solution tout-en-un pour la gestion éducative. De
        l'inscription des étudiants à la gestion des cours, nous avons tout
        prévu.
      </h2>
    </section>

    <section class="features">
      <div class="feature">
        <h3>DONNER AVIS</h3>
        <p>
          Exprimez-vous et partagez vos réflexions, idées et suggestions
          anonymement
        </p>
      </div>
      <div class="feature">
        <h3>REMPLIR LE CAHIER DE TEXTE</h3>
        <p>
          Gardez une trace organisée de vos activités scolaires pour une
          meilleure planification et suivi
        </p>
      </div>
      <div class="feature">
        <h3>DONNEZ SYLLABUS</h3>
        <p>
          fournir un aperçu détaillé des objectifs, du contenu et des attentes
          pour la période scolaire
        </p>
      </div>
    </section>
    <!-- </main> -->
    <footer class="footer">2024 Way Connect. Tous droits réservés</footer>
  </body>
</html>
