<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Enregistrer Courses</title>
</head>
<body>
  <div class="container">
    <header>
      <img src="../../assets/images/itineraire.png" alt="trajet">
      <h1>Courses</h1>
    </header>
    <br><br><br>
    <main>
      <section class="formulaire">
        <form (ngSubmit)="createEnregistrerCourse()" [formGroup]="formGroup">
          <div class="container-trajet">
            <div class="Trajet">
              <img src="../../assets/images/broche.png" alt="trajet">
              <div class="inputs">
                <input type="text" id="depart" formControlName="depart" placeholder="Point de départ">
                <hr><br>
                <input type="text" id="arrivee" formControlName="arrivee" placeholder="Point d'arrivée">
              </div>
            </div>
          </div>
          <br>
          <div class="heure-date">
            <div class="heure">
              <label for="heure_depart">Heure de départ:</label><br>
              <input type="time" id="heure_depart" formControlName="heureDepart" placeholder="Heure">
            </div>
            <div class="date">
              <label for="date_depart">Date de départ:</label><br>
              <input type="date" id="date_depart" formControlName="dateDepart">
            </div>
          </div>
          <br>
          <div class="container-siege">
            <label for="sieges"><b>Sièges disponibles:</b></label><br>
            <div class="input-with-icon">
              <img src="../../assets/images/siege-de-voiture.png" alt="Siège">
              <input type="number" id="sieges" formControlName="siegesDispo" min="1">
            </div>
          </div>
          <br><br><hr>
          <div class="container-jours">
            <h3>Jours de la semaine:&nbsp;</h3><br>
            <div formArrayName="jours">
              <div *ngFor="let jour of jours_semaine; let i = index">
                <label [for]="jour.name">{{ jour.name }}&nbsp;</label>
                <input type="checkbox" id="{{ jour.name }}" [formControlName]="i">
              </div>
            </div>
          </div>
          <br><br>
          <div class="container-boutons">
            <button type="submit">Enregistrer la course</button><br><br>
            <button type="reset" (click)="clearForm()">Annuler</button>
          </div>
        </form>
      </section>
    </main>
  </div>
</body>
</html>
