<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Way Connect</title>
  </head>
  <body>
    <header>
      <h1>Way Connect</h1>
    </header>
    <!-- <main class="main-content"> -->
    <section class="hero">
      <h2>
        Way Connect est votre solution tout-en-un pour la gestion de vos
        courses.
      </h2>
    </section>

    <section class="features">
      <div class="feature">
        <h3>MES COURSES</h3>
        <p>Toutes vos courses seront affichees ici.</p>
      </div>
      <div class="feature">
        <h3>MES INFORMATIONS</h3>
        <p>Veuillez y trouver toutes vos donnees.</p>
      </div>
      <div class="feature">
        <h3>GERER RESERVATIONS</h3>
        <p>
          Vous pouvez effectuer la gestion de vos reservations
        </p>
      </div>
    </section>
    <!-- </main> -->
    <footer class="footer">2024 Way Connect. Tous droits réservés</footer>
  </body>
</html>
